---
layout: base.njk
title: "Buscar"
permalink: /buscar/
---

<div class="container">
  <div id="search-page"
       data-level-labels='{{ ui.levels | dump | safe }}'
       data-facet-labels='{{ ui.facets | dump | safe }}'>
  </div>
</div>

<script src="/js/search.js"></script>
