---
layout: base.njk
title: "Buscar"
permalink: /buscar/
---

<div class="container">
  <div id="search-page"
       data-api-url="{{ site.apiUrl }}"
       data-level-labels='{{ ui.levels | dump | safe }}'>
  </div>
</div>

<script src="/js/search.js"></script>
